# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
db.sqlite3
/media/
staticfiles/

# If you are using Django migrations
**/migrations/**

# Environment variables
.env

# Node modules for frontend (if any)
node_modules/
npm-debug.log*

# Virtual environments
.env/
env/
venv/
ENV/

# macOS files
.DS_Store

# Windows files
Thumbs.db

# JetBrains IDE files
.idea/

# VS Code
.vscode/

# Coverage reports
htmlcov/
*.cover
.coverage
*.py,cover

# Testing
.tox/
.pytest_cache/
nosetests.xml
coverage.xml

# MyPy
.mypy_cache/

# Others
*.swp
